@font-face {
  font-family: vartaBold;
  src: url("../fonts/Varta-Bold.ttf");
}

@font-face {
  font-family: vartaSemiBold;
  src: url("../fonts/Varta-SemiBold.ttf");
}

@font-face {
  font-family: vartaRegular;
  src: url("../fonts/Varta-Regular.ttf");
}

@font-face {
  font-family: vartaLight;
  src: url("../fonts/Varta-Light.ttf");
}

@font-face {
  font-family: manjariBold;
  src: url("../fonts/Manjari-Bold.ttf");
}

@font-face {
  font-family: manjariRegular;
  src: url("../fonts/Manjari-Regular.ttf");
}

@font-face {
  font-family: urbanistBlack;
  src: url("../fonts/Urbanist-Black.ttf");
}

@font-face {
  font-family: urbanistBold;
  src: url("../fonts/Urbanist-Bold.ttf");
}

@font-face {
  font-family: urbanistSemiBold;
  src: url("../fonts/Urbanist-SemiBold.ttf");
}

@font-face {
  font-family: urbanistMedium;
  src: url("../fonts/Urbanist-Medium.ttf");
}

@font-face {
  font-family: syncopateBold;
  src: url("../fonts/Syncopate-Bold.ttf");
}

.vartaBold {
  font-family: vartaBold;
}

.vartaSemiBold {
  font-family: vartaSemiBold;
}

.vartaRegular {
  font-family: vartaRegular;
}

.vartaLight {
  font-family: vartaLight;
}

.manjariBold {
  font-family: manjariBold;
}

.manjariRegular {
  font-family: manjariRegular;
}

.urbanistBlack {
  font-family: urbanistBlack;
}

.urbanistBold {
  font-family: urbanistBold;
}

.urbanistSemiBold {
  font-family: urbanistSemiBold;
}

.urbanistMedium {
  font-family: urbanistMedium;
}

.syncopateBold {
  font-family: syncopateBold;
}
