@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./styles/fonts.css");
@tailwind utilities;

.text-dark {
  color: #10141c;
}

.bg-dark {
  background-color: #10141c;
}

.overflow-hidden::-webkit-scrollbar {
  width: 8px;
  background: rgb(139, 139, 139);
}

.overflow-hidden::-webkit-scrollbar-thumb {
  background: #666;
}